body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
/*  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; 
  padding: 48px 0 0; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
   */ 
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Login */
#responseBody {font-size:large; font-weight:bold;}

/* home page styles */
.marketing .row {margin: 2em 6em;}
.flex-equal > * {
  flex: 1;
}
.home-insert {
    width: 55%;
    border-radius: 21px 21px 0 0;
    }
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

/* ***********************************
Adapatations charte Hélène Nicolas
*********************************** */
@font-face {
font-family: 'interstate';
src: url('../fonts/Interstate-font/interstate-regular-comp-58b641cc0aca1.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'interstate';
src: url('../fonts/Interstate-font/interstate-bold-cond-58b64162258ca.otf') format('truetype');
font-weight: bold;
font-style: bold;
}
@font-face {
font-family: 'source sans pro';
src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'source sans pro';
src: url('../fonts/source-sans-pro/SourceSansPro-Semibold.otf') format('truetype');
font-weight: bold;
font-style: bold;
}

:root {
  --color-primary: #21A652;
  --color-primary-focus: #16C68E;
  --color-primary-light: color-mix(in srgb, var(--color-primary) 80%, white); 
  --color-secondary: #5B47FF;
  --color-secondary-light: color-mix(in srgb, var(--color-secondary) 80%, white); 
  --color-secondary-extralight: #F2F3F9; 
  --lmu-megadark: #232323;
  --lmu-dark: #626468;
  --lmu-medium: #C0C1C3;
  --lmu-light: #E6E6E7;
  --lmu-megalight: #F5F5F5;
  
  --big-radius: 30px;
  --medium-radius: 10px;
  --small-radius: 5px;
  
  --dark-colortext: var(--lmu-dark);
  --light-colortext: #FFFFFF;
  --lmu-colortext: #3DB168;
  
  --form-colortext: #2F3D4C;
  
  --oversvg : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

body {
	font-family: 'source sans pro';
	font-style:normal;
	font-weight:normal;
	font-size:16px;
	color:var(--light-colortext);
}
body .bg-dark {
	background-color: var(--color-primary)!important;
}
body .logo-filtered *, svg, svg > * {
	fill: var(--light-colortext);
}
body .navbar-brand {
	box-shadow:none;
	background-color:transparent;
}
body .navbar-dark {
	border-bottom:1px solid var(--color-primary-light);
	padding:0;
}
body .navbar-dark .navbar-nav .nav-link {
	height: 100px;
    padding: 35px 40px;
    display: inline-block;
}
body .navbar-dark .navbar-nav .nav-link,
body .navbar-dark .navbar-nav .nav-link.disabled {
	color:var(--light-colortext);
	font-size: 18px;
}
body .navbar-dark .navbar-nav .nav-link:hover {
	border-bottom:2px solid var(--light-colortext);
}

body button[data-bs-target="#loginModal"] {
	border:0 none;
	font-size: 0px;
	color:transparent;
}
body button[data-bs-target="#loginModal"] span.bi-person {
	font-size: 20px;
	color:var(--light-colortext);
}
body #content {
	
}
body #footer {
	background-color: var(--lmu-megalight);
}
body .home-insert {
	width:100%;
	max-height:1200px;
	border-radius:0;
	background-color:transparent;
}
.blochome {
	border:1px solid var(--color-primary-light);
	-moz-border-radius : var(--medium-radius);
	-webkit-border-radius : var(--medium-radius);
	border-radius : var(--medium-radius);
	padding:110px 30px 30px;
	cursor:pointer;
}
.blochome * {
	pointer-events: none;
}
.blochome:hover {
	-moz-border-radius : var(--big-radius);
	-webkit-border-radius : var(--big-radius);
	border-radius : var(--big-radius);
	background-color: white;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}
.blochome h2 {
	padding:0;
	margin:0;
}
.blochome:hover h2 {
	color:var(--lmu-megadark);
}
.blochome a[type="button_fleche"] {
	color:var(--light-colortext);
	text-decoration:none;
	font-weight:600;
}
.blochome:hover a[type="button_fleche"] {
	color:var(--lmu-colortext);
}
.blochome:hover a[type="button_fleche"] i.bi-arrow-right {
	padding-left:5px;
}
img.invertcolor {
   -webkit-filter: invert(1);
   filter: invert(1);
}
@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav {
		margin-left:150px;
	}
	.navbar-expand-md .navbar-collapse {
		display: flex!important;
		flex-basis: auto;
		padding-right: 50px;
	}
}
#intro_manuforma {
	margin-top: 140px;
}
#intro_manuforma h1, body h1, #edit.panel h1 {
	font-family: 'interstate';
	font-weight: bold;
	font-style: bold;
	font-size: 44px;
}
h2, h3, h4 {
	font-family: 'source sans pro';
	font-style:bold;
	font-weight:bold;
}
h2 { font-size:28px; }
h3 { font-size:20px; }
h4 { font-size:18px; }
#intro_manuforma p {
	font-weight:normal;
	color:var(--light-colortext);
}
#intro_manuforma p {
	font-size:16px;
}
#intro_manuforma .lead {
	font-size:24px;
	line-height:30px;
}
.grayed {
	background-color:var(--lmu-megalight);
}
#hometext_bottom {
	padding-top:3rem;
}
#hometext_bottom p {
	color:var(--dark-colortext);
}
#hometext_bottom a {
	color:var(--lmu-colortext);
}
#homemenu {
	padding-top: 35px;
}
#footer {
	color:var(--dark-colortext);
}
#logoszone img {
	vertical-align: top;
	margin-left: 30px;
}
ul#footermenu {
	list-style: none;
	margin:0;
	padding:0;
}
ul#footermenu li {
	display:inline;
	font-size:12px;
	font-weight:600;
	padding-right:30px;
}
#sidebarMenu ul.nav {
	margin-top: 1.5rem;
}
#sidebarMenu li.nav-item a {
	color:var(--light-colortext);
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
#sidebarMenu li.nav-item a:hover {
	text-decoration:underline;
	color:var(--light-colortext);
}

div.btn-toolbar div.submission span.btn.xforms-trigger,
div.btn-toolbar div.submission span.btn.xforms-submit {
	border:1px solid var(--light-colortext);
	border-radius:5px;
	margin:0 5px 5px;
}
div.btn-toolbar .xforms-trigger a, 
div.btn-toolbar .xforms-trigger a:link, 
div.btn-toolbar .xforms-trigger a:visited,
div.btn-toolbar .xforms-submit a, 
div.btn-toolbar .xforms-submit a:link, 
div.btn-toolbar .xforms-submit a:visited {
	color:var(--light-colortext);
}
div.btn-toolbar div.submission span.btn:hover {
	background:white;
}
div.btn-toolbar .xforms-trigger:hover a,
div.btn-toolbar .xforms-submit:hover a {
	color:var(--lmu-colortext);
}
div.btn-toolbar .triggerElementTooltip i.bi,
div.btn-toolbar .btn-group2 .xforms-label i.bi{
	font-size:18px;
}
#edit.panel {
	background:white;
	margin-top:3rem; 
	padding:3rem;
	margin-right: -1.5rem;
	border-top-left-radius:var(--big-radius);
	border-bottom-left-radius:var(--big-radius);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}
#edit.panel hr {
	display:none;
}
#edit.panel h4 {
	font-size:28px;
}
body .accordion-item:first-of-type {
    border-top-left-radius: var(--medium-radius);
    border-top-right-radius: var(--medium-radius);
}
body .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(var(--medium-radius) - 1px);
    border-top-right-radius: calc(var(--medium-radius) - 1px);
}
body .accordion-item:last-of-type {
    border-bottom-right-radius: var(--medium-radius);
    border-bottom-left-radius: var(--medium-radius);
}
body .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: calc(var(--medium-radius) - 1px);
    border-bottom-right-radius: calc(var(--medium-radius) - 1px);
}
#edit.panel h1, 
#edit.panel h2, 
#edit.panel h3, 
#edit.panel h4, 
#edit.panel p {
	color:var(--form-colortext);
	padding-left: 0;
}
#edit.panel select, 
#edit.panel input, 
#edit.panel select option {
	color:var(--form-colortext);
	padding: 6px;
	background: transparent;
}
#edit.panel .element not(.input-group) select, 
#edit.panel .element not(.input-group) input, 
#edit.panel .element not(.input-group) select option {
	margin-bottom:5px;
}
#edit.panel input[type=radio] {
	margin-right:10px;
}	
.headerxform {
	margin:0 2rem;
	padding-bottom: 0;
}
.headerxform .alert {
	padding:0;
	background:none;
	border:0 none;
}
.headerxform h2 {
	font-size:45px;
	font-weight:800;
}
.headerxform h2 small {
	font-size:20px;
	font-weight:800;
}
body .accordion-button:not(.collapsed) {
	color:var(--light-colortext);
	background:#ACA3FD;
	border-top-color:#5848F5;
	border-bottom-color:#5848F5;
	box-shadow:none;
}
.accordion .accordion-item {
	border-color:var(--form-colortext);
}
.accordion .accordion-item .accordion-button {
	padding:1rem 2rem;
}
body .accordion-button:not(.collapsed)::after {
	background:none;
	-webkit-mask: var(--oversvg);
    mask: var(--oversvg);
	background-color:white;
}
.accordion-body {
	margin:2rem;
	padding:1.5rem 2.5rem;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	box-shadow: 0px -23px 50px 6px rgba(237,237,237,0.81);
	-webkit-box-shadow: 0px -23px 50px 6px rgba(237,237,237,0.81);
	-moz-box-shadow: 0px -23px 50px 6px rgba(237,237,237,0.81);
}
.accordion-body.with-title {
	margin:5rem 2rem 2rem;
	border-top-left-radius:0;
}
.accordion-body > span.input-group-text {
	display:inline-block;
	width:auto;
    margin-top: -4.5rem;
    margin-left: -2.5rem;
	height:50px;
	background:white;
	border-top-left-radius:10px;
	border-top-right-radius:10px !important;
	border:0 none;
	padding:1rem 2rem;
}
.xforms-group-content h2.mainElement {
	margin:0 2rem;
}
.xforms-group-content .alert {
	margin:0 1rem 1rem;
}
#edit.panel .headerxform h2 + p.alert {
	margin:0;
}
#edit.panel h2 + p.alert {
	margin:0 2rem 1rem;
}
.btn-group {
	border-bottom:0 none !important;
}
body .elementControls {
	margin:0;
	color:var(--dark-colortext);
	background-color:var(--color-secondary-extralight);
	padding:10px 15px;
	padding:10px 15px;
	border-radius:var(--small-radius);
}
body .elementControls i.bi {
	color:var(--color-secondary-light);
	font-size:16px;
}
body .elementControls .input-group:not(.avoiditem) {
	padding: 5px;
	background-color:white;
	border-radius:var(--small-radius);
	border:1px solid var(--color-secondary-light);
	margin-right: 1rem;
	min-height:36px;
}
body .elementControls .btn {
	border:0 none;
}
body button {
  line-height: 1rem;
}
body .btn button {
	font-size:14px;
	color: var(--color-secondary);
	background-color:var(--color-secondary-extralight);
	border-radius:var(--big-radius);
	height: inherit; /* 20px; */
    padding: 0;
	margin:0 10px;
}
body #edit .input-group span.btn, body #edit .input-group span.btn a {
	color:var(--color-secondary);
}
body #edit .input-group span.btn, #view-admin > span.btn {
	background-color: var(--color-secondary-extralight);
    border-radius: var(--big-radius);
    height: 27px;
    margin: 0 0 0 10px !important;
    border: 0 none;
    line-height: 27px;
    padding: 0 5px;
}

body #edit .input-group span.btn button, #view-admin > span.btn button {
	background:transparent;
}
body #edit .input-group span.btn {
    height: 36px;
    line-height: 34px;
    padding: 0 20px;
	margin: 0 0 0 10px !important;
}
body #edit .input-group span.btn.remove {
	height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0 0 0 10px !important;
    width: 20px;
}
body #edit :not(.fileLoading) > .input-group {
	padding:0.3rem 2rem 0.3rem;
}
body #edit .fileLoading + .input-group {
	border:0 none;
	padding-top:1rem !important;
}
body i.bi {
	font-size:18px;
}
body .elementControls .btn button i.bi {
	font-size:16px;
	color:var(--color-secondary-light);
}
body .element {
	margin-left:0;
	border:0 none;
	margin-bottom:0;
}
body .input-group:not(.avoiditem) {
	border:1px solid var(--lmu-dark);
	border-radius:var(--small-radius);
}
body .inlineDisplay .input-group {
	margin:0 5px;
	padding: 5px;
}
body input, body select {
	border:1px solid var(--lmu-dark);
	border-radius:var(--small-radius);
}
body .input-group input, body .input-group select,
body .input-group input:active, body .input-group select:active,
body .input-group input:focus, body .input-group select:focus {
	border:0 none;
}
body .fileLoading {
	border:1px solid var(--lmu-dark);
	border-radius:var(--medium-radius);
	padding: 0.3rem 2rem 0.1rem;
	margin-top:3rem;
	width:100%;
}
.fileLoading h4 {
	position:absolute;
	width:auto;
	display:inline-block;
	background-color:white;
	padding:0 1rem 1rem !important;
	margin:-1.7rem 1rem 0 -1rem;
	font-size:22px;
}
.fileLoading h4 + div {
	margin-top: 0.5rem;
}
hr + h4 {
	margin-top:2rem;
}
.fileLoading select {
	padding-left:0;
}
.fileLoading select:focus {
	border:0 none;
}
.fileLoading h4 small {
	font-size: 13px;
    margin-left: 0.5rem;
}
.fileLoading span.btn {
	border: 0 none;
    border-radius: var(--big-radius);
    background-color: var(--lmu-light);
    padding: 0.2rem 1rem 0.2rem;
    line-height: 14px;
    font-size: 14px;
    height: auto;
    color: var(--form-colortext);
}
.card.preview {
	border: 0 none;
}
.card.preview  .card-header {
	background:none;
	color: var(--form-colortext);
	font-size:22px;
	border-bottom:0 none;
}
.card.preview  .xforms-group {
	background-color:var(--color-primary);
	border-radius:var(--medium-radius);
	padding:0 0 0 7px;
}
.card.preview  .xforms-group-content {
	background-color:black;
	border-radius:var(--medium-radius);
	padding:20px;
	color:white;
	min-height:10rem;
}
body .fileLoading .input-group {
	border:0 none;
	margin-bottom: 0.3rem !important;
}
.navbar .navbar-brand object { cursor:pointer; }
#edit .input-group > * {
	margin-left:0 !important;
	background: transparent;
}
#edit .input-group .value {
	width:auto;
	height:inherit;
	display:inline-block;
}
#edit .btn-group2 { float:right; }
#edit .btn-group .elementLabel { 
	padding-left:0;
}
#edit .btn-group .xforms-value {
	color:var(--form-colortext);
	/* padding: 0 5px; */
}
body main h1.h2, body main h1.h2 span {
	font-size:0;
}
body #edit.panel .xforms-upload label.withinputfile {
	color:white;
	font-weight:bold;
    padding: 0.2rem 1rem 0.2rem;
	background-color:var(--color-primary);
	border-radius:var(--small-radius);
	margin-right:10px;
	cursor:pointer;
}
body #edit input.withlabel[type='file']{
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    height: 1px;
    width: 1px;
    z-index: -5;
}
img {
	max-width:100%;
}
body span.xforms-required-icon,
body span.xforms-alert, 
body span.xforms-help, 
body span.xforms-hint {
	vertical-align: middle;
}
#view-admin br + .input-group {
	margin-top:3rem;
}
.btn-toolbar .xforms-input:not(.attVal):first-child {
	margin-bottom:5px;	
}
body .elementInput {
	width:35%;
}
body span.xforms-alert-icon.nobackground {
	background:none;
}

@media screen and (max-width: 850px) {
	#homemenu {
		padding:35px 0 0;
	}
	.blochome {
		padding: 60px 30px 30px;
		margin-bottom:10px;
	}
	.blochome object {
		width: 50px;
		height: 50px;
	}
	.blochome h2 {
		font-size:20px;
	}
	#logoszone {
	    text-align: center!important;
	}
	#logoszone img {
		margin:0;
		max-width:100%;
	}
	.navbar-brand img { width:140px; }
	#navbarCollapse {
		padding: 10px 40px;
		border-bottom:1px solid #FFF;
	}
	body .navbar-dark .navbar-nav .nav-link {
		height: auto;
		padding: 10px 0 0;
	}
	.mainContent {
		margin: 1em 0;
	}
	#edit.panel {
		background: white;
		margin: 2rem -1.5rem;
		padding: 3rem 2rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
	}
	#sidebarMenu.collapse:not(.show) {
		display:block;
	}
}

/*
div.submission span.btn.xforms-submit {
	border:1px solid var(--light-colortext);
	border-radius:5px;
	margin:0 5px;
}
xforms-submit a, .xforms-submit a:link, .xforms-submit a:visited, .xforms-submit a:hover {
	color:var(--light-colortext);
}
*/
/* WS additions */
input[type=text] { 
 width:100% !important;
}

input[type=textarea] { 
 width:80% !important;
}
.full-width {width:80%}
.full-width .btn-group {width:100%}
.full-width .btn-group .xforms-select1 {width:100%}
.btn-no-border {border: 0 none !important;} 
.attr-group {margin-top:.25em;}
.attr-group .btn-group{margin-top:.25em;}
.large-textarea {display:block; width:100% !important;}
.large-textarea textarea {display:block; width:100% !important;}
textarea {width:100% !important;}
.changeElement .btn{margin-left:1em;}
.form-label {color:var(--dark-colortext);}