/* XSLT Forms styles */
/* Import bootstrap icons */
/*@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");*/

/* Main content blocks */
/* .pageBody {padding-top:75px;} */
.mainContent {display:block; margin:1em 2em;}
.fileLoading {display:block; width:60%;}
.mainContent input, .mainContent select {width:100%}
.preview {margin-top:2em;}
submenu {
    font-size: smaller;
    padding: 0;
    margin: 0;
}
.nested {display:block; margin-left:1em;}
.elementControls {
    display:block !important;
    border-bottom:1px #F8F9FA solid;
    margin-left: .75em;
    margin-top: .75em;
    background-color: #F8F9FA;
    padding-left:.5em; padding-right:1em;
}

.elementLabel {font-size:large; display:inline-block; padding-left:.5em; padding-right:1em;}

.element {
    display:block;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    border-left: 2pt #F8F9FA solid;
}
.elementInput { width: 50%; }
.elementInput input {width: 100%;}
.elementTextArea {display:block; width:100%;}
.inlineDisplay textarea.xforms-value {display:block; width:80%;}

/* Lookup service */
/* .lookupSwitch .xforms-case {*/
.lookupDisplay {
    display:block;
    position:fixed;
    top:50%;
    left: 25%;
    width: 80%; /* adjust as per your needs */
    height:450px;   /* adjust as per your needs */
    margin-left:-200px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */
    background-color:white;
    padding:1em;
    border:1px solid #ccc;
    box-shadow: 8px 8px 3px #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow-y:scroll; 
    overflow-x:hidden;
    z-index: 125;
} 
.lookup-results {
    height:225px;
    padding: 1em;
    overflow-y:scroll;   
}
.close {
    float: right;
}

/*  Styles for inline inputs */
/* .inlineDisplay {display:block; margin:2em;}*/
.inlineDisplay.row {flex-wrap:nowrap;}
.inlineDisplay .input-group {display:inline-flex; margin-top:.5em;}
.inlineDisplay .xforms-repeat, 
.inlineDisplay .xforms-repeat-item,
.inlineDisplay .xforms-repeat-item-selected
.inlineDisplay .xforms-control, 
.inlineDisplay .xforms-trigger, 
.inlineDisplay .xforms-value,
.inlineDisplay div{
    display:inline;
}
.xforms-item label {display:inline;}
input[type="radio"] {display:inline; width:auto;}  

/* HTML form styles */

.form-control{padding:0; border:none;}
.xforms-input input, .xforms-upload input {
    display: block;
    padding: 0.375rem 2.25rem 0.37rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-weight: 400;
}
.xforms-select1 select {
    display: block;
    padding: 0.375rem 2.25rem 0.57rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-weight: 400;
}

.elementControls .xforms-select1 select {
   padding:0;
   height:100%;
}

.elementControls .btn {
    font-weight:600;
    padding-right:.25em;
    padding-left:.25em;
}

.xforms-upload input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}
/* Button styles */
.btn-outline-secondary a {
    color: #6c757d;
    text-decoration:none;
}

.btn-outline-secondary a:hover {
    color: white;
    text-decoration:none;
}

button {
    display: inline-block;
    font-weight: 400;
/*    line-height: 1.5;*/
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
/*    padding: 0.375rem 0.75rem;*/
/*    font-size: 1rem;*/
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button {
    color: #6c757d;
    text-decoration:none;
}

button:hover {
    color: white;
    text-decoration:none;
}

/* tooltips */

.elementTooltip, .TEITooltip {
    min-width:300px;
    font-weight: normal;
    font-size:small;
    color: #6c757d;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #6c757d;
    background-color:white;
    border-radius: 0.25rem;
    padding: 0.375rem 2.25rem 0.57rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: absolute;
    top: 5px;
    left: 250px;
    display: none;
}

.elementTooltip {
  z-index: 100;
}

.triggerElementTooltip:hover + .elementTooltip {
    display: block;
}
 
.TEITooltip {
  z-index: 150;
}

.triggerTEITooltip img {
    width:24px;
    height:24px;
    margin-right:1em;
}

.triggerTEITooltip:hover + .TEITooltip {
    display: block;
}

.addElementsGrp {min-width: 70%;} 