/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: #21a652;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #21a652;
    color: white;
    position: fixed;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    left: 0;
    top: 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    transition: background 0.3s;
    position: relative;
}

.sidebar a:hover::after,
.sidebar a:focus::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

/* Logo */
.sidebar .logo:hover::after,
.sidebar .logo:focus::after {
    height: 0px;
}

.sidebar .nav-h1 {
    padding-left: 0; /* Base level indentation */
    font-weight: bold;
}

.sidebar .nav-h2 {
    padding-left: 20px; /* Indent h2 elements */
    font-weight: normal;
}

.sidebar h1, .sidebar h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

/* Content Styles */
.content {
    margin-left: auto; /* Matches sidebar width */
    padding: 40px;
    background-color: #ffffff;
    flex-grow: 1;
    width: calc(100% - 250px); /* Resizes dynamically based on sidebar */
    max-width: 900px; /* Limit maximum width for better readability */
    margin-right: auto;
    overflow-x: hidden;
    margin-bottom: 3rem;
    margin-top: 3rem;
  border-radius: 3rem;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}

h1, h2, h3 {
    margin-bottom: 10px;
}

p, ol, figure {
    margin-bottom: 15px;
    max-width: 100%;
    word-wrap: break-word;
}

figure {
    text-align: center; /* Center images */
    margin: 0 auto;
}

figure img {
    max-width: 75%; /* Reduce image size further for consistency */
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f9f9f9;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: "Courier New", monospace;
}

table {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}