<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title data-template="config:app-title">App Title</title>
        <meta data-template="config:app-meta"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- Force MSIE not to use compatibility mode -->
<!--        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
        <link rel="stylesheet" type="text/css" href="resources/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
    </head>
    <body>
            <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/"><span data-template="config:app-title"/></a>
                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"/>
                </button>
                <div class="navbar-nav">
                    <div class="nav-item text-nowrap">
                        <a class="nav-link px-3" href="/">Home</a>
                    </div>
                </div>
            </header>
        <div class="container-fluid">
            <div id="content" class="row"/>
            <div id="footer" class="py-2 px-3 text-end">
                Code | Copyright | Date
            </div>
        </div>
    </body>
</html>